#
# Copyright (C) 2025 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service vendor.device-sh /vendor/bin/init.device.sh
    user root
    group root
    oneshot

on early-init
    exec_start vendor.device-sh
    setprop ro.boot.product.hardware.sku ${ro.separate.soft}

    # WiFi NV
    mount overlay overlay /vendor/firmware/wlan/prima ro lowerdir=/vendor/firmware/wlan/${ro.vendor.wifi.nv}:/vendor/firmware/wlan/prima
